body {
    margin: 0;
    padding: 0;
}

.top{
    margin-top:5vh; 
    background-color:black;
    height: .1vh;
}

.name{
    text-align: center;
    font-size: 5vh;
}

.belowName{
    margin-top:1vh;
    background-color:black;
    width:50vw;
    height:.1vh;
}

.text{
    text-align: center;
    font-size: 2.5vh;
}

.footer{
    margin-top:65.6vh;
    text-align: center;
    font-size: 3vh;
    border:.3vh solid black;
    background-color:gray;
}