.contain{
    display: grid; /*udsed for creation of grids*/
    background-color: blue;
    grid-column-gap: 2px;
    grid-row-gap: 2px; /*this can be written as grid-gap: 1px 2px; to give gap for row and column, shorthand, if only one value is provided then it willl be taken for both colum and row*/
    grid-template-columns: auto auto auto; /*three autos will give three column grids, at the place of auto sizes can be given too*/
    grid-template-rows: 99px; /*changes the height of grids*/
    
}
.three{
    border: solid red;
    
}
.two{
    grid-column: 1/2; /*this ensures that the class two grid starts from line 1 to line 2*/
    grid-row: 1/3;
    background-color: navy;
}
@media screen and (max-width: 500px){ /*this tells that block below will only applied when the width is 500px or below*/
    body{
        background-color: brown;
    }
}