.one{
    border: 2px solid red;
    transform: translate(10px, 34px); /*moves the element toward x axis by 10px and y axis by 34, to use two transforms at once write it together by separating it with commas*/
    transform: rotate(.5turn);/*rotates upside down, similarly we can write 45deg for 45 degree, by default rotataion origin is center*/
    transform-origin: 0; /*rotates from the starting point*/
    transform: scaleX(2); /*scales element along x axis by factor 2, scale(1, 2) means scale along x by 1 and along y by 2*/
    transform: skew(2deg, 3deg); /*skews the element along x axis by 2 and y axis by 3*/
    transform: rotateX(2deg) rotateY(3deg) rotateZ(1deg);/*3d rotation*/
}
.one:hover{ /*way to implement transitions in webpages, timed transfromation, in this context if cursor is hovered over class one then width will change to 33px*/
    width: 33px;
}
.one{ /*way to implement duration*/
    transition-property: width; /*setting the property to be transitioned*/
    transition-duration: 3s; 
    transition-timing-function: ease-in; /*setting the type of transition*/
    width: 100px;/*initial size*/
    transition-delay: 2s;
    }
.on{
    border: 2px solid black;
    width: 100px;
    animation-name: anim1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    
}
@keyframes anim1 {
    from{
        width: 100px;
    }
    to{
        width: 200px;
    }   
}
@keyframes anim1 {
    0%{ /*the percentage means duration divided into percentage so at every percentage of page loading animation can be changed at will\*/
        width: .1vw;
    }
    50%{
        width: .5vw;
    }
    100%{
        width: 1vw;
    }   
}
.image{
    overflow: hidden;/*if the content is ovelapping other element then the overlapping portion is hidden*/
    margin: auto;
    display: flex;
    justify-content: center;
}

.img1{
    transform: translateX(80vw); /*moved to extreme right*/
    animation: a1 1s 1s backwards; /*animating step by step, 1s duration, 1s delay, direction*/
}
.img2{
    transform: translateX(0vw); /*moved to center*/
    animation: a2 1s 1s backwards;
}
.img3{/*moved to extreme left*/
    transform: translateX(-80vw);
    animation: a3 1s 1s backwards;
}
@keyframes a1 {
    from{
        transform: translateX(80vw);
    }
    to{
        transform: translateX(30vw);
    }
}
@keyframes a2 {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(-50vw);
    }
}
@keyframes a3 {
    from{
        transform: translateX(-80vw);
    }
    to{
        transform: translateX(40vw);
    }
}